<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be Part of the Project</title>
    <link rel="stylesheet" href="bePartOfTheProject_style.css">
</head>
<body>
    <div>
        <h1>Be Part of the Project</h1>
        <p>It's important to remember that this project is for the people and by the people, so if you want to contribute check the instructions below to start to work with us to maintain and improve the project!</p>
        <h2>GitHub instructions Below</h2>
    </div>
</body>
</html>