<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>World words app</title>
</head>
<link rel="stylesheet" href="index_style.css">
<body>
    <h1>Welcome on board learner!</h1>
    <p>This app aim to give anyone the possibility to learn new words in the language you want and record the progress over the time. Remember this is a open source project so if you want to contribute in its development feel free to join!</p>
</body>
</html>